@import url('home.css');
@import url('explore.css');
@import url('direct.css');
@font-face {
    font-family: "Billabong";
    src: url("../font/Billabong.ttf");
}
@font-face {
    font-family: "ios";
    src: url("../font/SF-Pro.ttf");
}
*{
    font-family: "ios";
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #f5f5f5;
    display: grid;
    place-items: center;
    height: 100vh;
}
:root{
    --wColor : #f5f5f5;
    --bColor : #2d2d2d;
}
a{
    color:inherit
}
.mobile{
    width: 20rem;
    height: 40.625rem;
    border: 5px solid var(--bColor);
    border-radius: 2rem;
    background-color: #ffffff;
}
footer{
    padding: 0.5rem 0;
}
.tab-bar ul{
    display:flex ;
    align-items: center;
    color: #2d2d2d;
    font-size: 1.6rem;
    justify-content: space-around;
}
.tab-bar> *{
    cursor: pointer;
}
.tab-bar a {
    color: inherit;
}
.tab-bar img{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
}
